.slider{
   position: relative;
   background-color: #f2f2f2;
}
.slide{
    width: 100%;
    height: 550px;
}
.slider1{
    margin-top: 70px;
    text-align: center;
    font-family:  sans-serif;
    font-weight: 600;
 }
 .detail{
    font-family: serif;
   
    font-size: 25px;
 }
 .logo{
  height: 211px;
 }
 .logo1{
   height: 211px;
  }
  .study{
   width: 500px;
   margin-right: -80px;
  }
  .card:hover{
     border-top: red;
     border-left: blue;
     border-right:violet;
     border-bottom: orange;
     border-style: solid;
     transition: 1s;
     transform: scale(1.1);
  }
  .all{
   background-color: #f2f2f2;
   color: black;
  }
  .rank{
   width: 700px;
  }
  .hoverclass:hover{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   transform: scale(1.2);
   transition: 1s;
   transform-origin: left;
   text-decoration: underline;
  }
  .java{
   filter: grayscale(100%);
  }
  .java:hover{
   filter: grayscale(0);
  }